<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
<style>
    div{
        position: absolute;
        right: 10px;
        top: 5px;
    }
</style>
</head>

<body>
<div>
<button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
</div>
{% csrf_token %}
Welcome {{ e }}
<form action="/allanime/" method="get">
<table class="table is-fullwidth is-striped is-bordered"><thead><tr><th>
{% for i in res %}
<img src="{{ i.image_url }}">
<a href="">{{ i.title }}</a><br><br>
    {{ i.synopsis }}<br><br>
{% endfor %}

</th></tr>
    </thead>
</table>
</form>

</body>
</html>